@charset "utf-8";

/* media */
@media (max-width: 960px) {
  #header {
    width: 100%;
    height: 100px;
    display: block;
    border-right: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  }
  .side_bar {
    width: 100%;
    height: 100px;
  }
  #nav {
    width: 100vw;
    height: 90vh;
    top: 100px;
    padding-right: 33px;
  }
  #nav > .nav_button span {
    transform: rotate(0);
  }
  .scroll {
    left: 22px;
    bottom: 28px;
  }
  .nav_close {
    height: 10%;
    border: 0;
  }
  .nav_close > .close_btn {
    height: 40%;
  }
  .sec1__inner {
    flex-direction: column-reverse;
  }
  .sec1__inner .left {
    width: 100%;
  }
  .sec1__inner .right {
    width: 100%;
    border-left: 0;
  }
  .sec1__inner .right .intro {
    height: auto;
    border-bottom: 1px solid #628aff;
  }
  .sec1__inner .left p {
    position: relative;
    transform: rotate(0);
    bottom: 0;
    left: 0;
    padding: 3vw;
  }
  .sidebar {
    display: none;
    width: 100%;
    height: 100vh;
    top: 100px;
    left: 0;
  }
  .main_title > div {
    cursor: pointer;
    width: 40px;
    height: 40px;
    /* background: rgba(0,0,0,0.3); */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 100px;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
  }
  .main_title .main_tit_left {
    width: 30%;
  }
  .main_title .main_tit_right {
    width: 30%;
  }
  .side1 em {
    padding: 3vw;
    font-size: 3vw;
  }
  .side2 {
    width: 75%;
    height: 77%;
    margin: auto;
    padding: 0;
  }
  .side2 a {
    padding: 2%;
    font-size: 9vw;
  }
  .side3 a,
  .side3 span {
    font-size: 3vw;
    padding: 3%;
  }
  main {
    width: 100%;
    margin-left: 0;
  }
  /* section1 */
  .sec1_inner {
    width: 100%;
    flex-direction: column-reverse;
    height: 150vh;
  }
  .sec1_left {
    width: 100%;
    height: 50vh;
  }
  .sec1_inner .left_txt {
    left: 7vw;
    font-size: 9vw;
  }
  .sec1_inner .sec1_right {
    width: 100%;
    height: 100vh;
    border-bottom: 1px solid #628aff;
    border-left: 0;
  }
  .main_title {
    padding: 4vw;
    border-bottom: 0;
  }
  .main_title span,
  .main_title a {
    font-size: 4vw;
  }
  .sec1_inner .sec1_right .main_intro {
    height: 70vh;
    padding: 3vw;
    margin-top: 24vw;
  }
  .sec1_inner .sec1_right .main_intro p {
    font-size: 3.5vw;
    line-height: 1.5;
  }
  .main_intro figure {
    padding: 7vw 3vw;
  }
  .main_intro .main_img {
    width: 32vw;
    height: 32vw;
  }
  /* section2 */
  .intro_inner {
    height: 70vh;
  }
  .intro_inner h2 {
    font-size: 5vw;
  }
  .prof {
    display: block;
    padding: 7vw;
  }
  .prof_cont {
    width: 100%;
    white-space: normal;
  }
  .prof_tit p {
    font-size: 9vw;
  }
  .prof_tit p > span {
    overflow: hidden;
    display: inline-block;
  }
  .prof_desc p {
    font-size: 2.6vw;
    width: 100%;
  }
  .prof figure {
    width: 100%;
    height: 86vh;
    margin-top: 7vw;
    overflow: hidden;
  }
  .reveal {
  }
  /* section3 */
  .skill_logo {
    padding: 7vw 0;
    display: inline-block;
  }
  .skill_logo_img {
    display: inline-block;
    width: 19%;
    padding-right: 0;
  }
  .skill_inner {
    padding: 12vw 7vw;
    display: block;
  }
  .skill_txt_tit {
    width: 100%;
    padding-right: 0;
    border-right: 0;
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 10vw;
    font-size: 4vw;
  }
  .skill_txt_desc {
    width: 100%;
    padding-left: 0;
    font-size: 3.3vw;
    padding-top: 10vw;
  }
  /* section4 */
  .proj {
    display: block;
  }
  .proj_left,
  .proj_right {
    width: 100%;
  }
  .proj_tit p,
  .proj_desc p {
    font-size: 3vw;
  }
  .proj_tit h3 {
    font-size: 8vw;
  }
  .proj_numb {
    font-size: 33vw;
    right: 0;
    top: -42%;
  }
  .proj_view {
    width: 33%;
  }
  .view_txt {
    top: 6%;
    font-size: 3vw;
  }
  .game_cont {
    height: 60vh;
  }
  /*section5  */
  .sec5_wrap > div {
    width: 100vw;
  }
  /*section6  */
  .ani {
    display: block;
  }
  .ani_txt {
    width: 100%;
    height: 40vh;
    border: none;
  }
  .ani_txt1 h3 {
    font-size: 7vw;
  }
  .ani_txt2 span {
    width: 36%;
  }
  .ani_txt2 p {
    padding-top: 20%;
    font-size: 4vw;
  }
  .ani_cont {
    width: 100%;
    height: 50vh;
    padding: 10% 0 0 10%;
  }
  /* section7 */
  .prog_tit span {
    font-size: 2vw;
  }
  .prog_tit h3 {
    font-size: 7vw;
  }
  .prog_tit a {
    font-size: 2vw;
  }
  /* footer */
  /* footer */
  #footer {
    width: 100%;
    margin-left: 0;
  }
  .foot_info1,
  .foot_info2 {
    display: block;
    padding: 7%;
  }
  .f_massage {
    width: 100%;
    padding-bottom: 8%;
  }
  .f_mail {
    width: 100%;
  }
  .f_massage p {
    font-size: 5vw;
  }
  .f_mail p {
    padding-bottom: 6%;
    font-size: 4vw;
  }
  .f_mail button {
    padding: 2% 10%;
    letter-spacing: 0.1vw;
    font-size: 3vw;
  }
  .f_sns {
    width: 37%;
    margin-top: 10%;
    float: right;
  }
  .f_sns a img {
    width: 27%;
  }
  .f_txt {
    width: 100%;
    height: 45%;
  }
  .f_txt h3 {
    font-size: 6vw;
  }
  .f_txt p {
    font-size: 4vw;
  }
  .f_info {
    width: 100%;
  }
  .f_info em {
    font-size: 5vw;
  }
  .f_info span {
    font-size: 4vw;
  }
  .copy {
    padding: 0 7% 3%;
  }
  .info {
    width: 100%;
    display: block;
  }
}

@media (max-width: 480px) {
  #header {
    height: 50px;
  }
  #nav > div {
    width: 30px;
    height: 32px;
  }
  .nav_close {
    height: 6%;
  }
  .nav_close > .close_btn {
    width: 39%;
    height: 50%;
  }
  .scroll {
    left: 15px;
    bottom: 8px;
  }
  .sidebar {
    top: 50px;
  }
  .side2 {
    height: 85%;
  }
  .side2 a {
    font-size: 12vw;
    padding: 3%;
  }
  main {
  }
  /* section1 */
  .sec1_left {
    height: 55vh;
  }
  .sec1_inner .sec1_right {
    height: 95vh;
  }
  .main_title {
    padding: 1vw 4vw;
  }
  .main_title span,
  .main_title a {
    font-size: 5vw;
  }
  .sec1_inner .sec1_right .main_intro {
    margin-top: 30vw;
    padding: 3.5vw;
  }
  .sec1_inner .sec1_right .main_intro p {
    font-size: 4.8vw;
  }
  .main_intro figure {
    padding: 10vw 3vw;
  }
  .main_intro .main_img {
    width: 43vw;
    height: 43vw;
  }
  .sec1_inner .left_txt {
    bottom: 22vw;
    left: 7vw;
    font-size: 10vw;
    line-height: 1.7;
  }
  /* section2 */
  .prof {
    padding: 13vw 7vw;
  }
  .prof_tit p {
    font-size: 9.6vw;
  }
  .prof_desc p {
    font-size: 4.3vw;
  }
  .reveal {
    height: 52vh;
  }
  /* section3 */
  .skill_logo_img {
    padding-left: 13vw;
    width: 43%;
  }
  .skill_logo_img:last-child {
  }
  .skill_txt_tit {
    font-size: 4.5vw;
  }
  .skill_txt_desc {
    font-size: 4.2vw;
  }
}
